.nav-link{
    font-size: 17px;
    font-weight: 600;


}
.nav-item{
    margin: 10px;
}
.pic{
    height: 50%;
}
.info{
    justify-content: center;
    color: gray;
}
.product{
    justify-content: center;
    font-family: cursive;
    padding-top: 10px;
    font-size: x-large;
    font-weight: 100;
}
.product1{
    color: black;
}
.product2{
    color: brown;
}
.divform{
    background-image: url(cover.png), url(co1.avif);
    /* height: 200px; */
    background-size: cover;
}
.text{
    color: white;
    padding-top: 40%;
    
}
.text1{
    font-size: 50px;
    font-weight: 800;
}
.text2{
    font-size: 20px;
    font-weight: 600;
}
.para1{
    color: rgb(26, 26, 112);
    font-size: x-large;
    font-weight: 800;
    text-align: center;
}
.para2{
    color: black;
    font-size: large;
    font-weight: 500;
    text-align: center;

}
.para3{
    color: black;
    font-size: large;
    font-weight: 800;
    text-align: center;

}
.para1{
    width: 80%;
    color: rgb(13, 13, 60);
    font-family: "Lucida Console", "Courier New", monospace;
}
.para2{
    width: 80%;
    color: rgb(13, 13, 60);
    font-family: "Lucida Console", "Courier New", monospace;
}
@media screen and (max-width: 480px){
    .first-row{
        display: flex;
        flex-direction: column-reverse;
    }
    .para1{
        width: 100%;
    }
    .para2{
        width: 100%;
    }
}